:root {
    --electric-border-color: #dd8448;
    --electric-light-color: oklch(from var(--electric-border-color) l c h);
    --gradient-color: oklch(from var(--electric-border-color) 0.3 calc(c / 2) h / 0.4);
    --color-neutral-900: oklch(0.185 0 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0a0a0a;
    background-color: oklch(0.145 0 0);
    color: #fafafa;
    color: oklch(0.985 0 0);
    height: 100vh;
    overflow: hidden;
}

/* ------------------------------ */

/* Contenedor */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* SVG posicion */
.svg-container {
    position: absolute;
}

/* Carta contenedor */
.card-container {
    padding: 2px;
    border-radius: 24px;
    position: relative;
    background: linear-gradient(-30deg,
            var(--gradient-color),
            transparent,
            var(--gradient-color)),
        linear-gradient(to bottom,
            var(--color-neutral-900),
            var(--color-neutral-900)
        );
}

/* inner contenedor */
.inner-container {
    position: relative;
}

/* borde layers, border principal */
.border-outer {
    border: 2px solid rgb(221, 132, 72, 0.5);
    border-radius: 24px;
    padding-right: 4px;
    padding-bottom: 4px;
}

/* Efecto del borde  */
.main-card {
    width: 350px;
    height: 500px;
    border-radius: 24px;
    border: 2px solid var(--electric-border-color);
    margin-top: -4px;
    margin-left: -4px;
    filter: url(#turbulent-displace);
}

/* glow effects, color border normal */
.glow-layer-1 {
    border: 2px solid rgb(221, 132, 72, 0.6);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(1px);
}

.glow-layer-2 {
    border: 2px solid var(--electric-light-color);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(4px);
}

/* ------------------ */

/* Color abajo y arriba del border normal */
.overlay-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    opacity: 1;
    mix-blend-mode: overlay;
    transform: scale(1.1);
    filter: blur(16px);
    background: linear-gradient(-30deg,
            white,
            transparent 30%,
            transparent 70%,
            white);
}

.overlay-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    opacity: 0.5;
    mix-blend-mode: overlay;
    transform: scale(1.1);
    filter: blur(16px);
    background: linear-gradient(-30deg,
            white,
            transparent 30%,
            transparent 70%,
            white);
}

/* -------------------- */

/* fondo-glow */
.background-glow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    filter: blur(32px);
    transform: scale(1.1);
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(-30deg,
            var(--electric-light-color),
            transparent,
            var(--electric-border-color));
}

/* Content contenedor */
.content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* content sections */
.content-top {
    display: flex;
    flex-direction: column;
    padding: 48px;
    padding-bottom: 16px;
    height: 100%;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    padding: 48px;
    padding-top: 16px;
}

/* componente Scrollbar-glass */
.Scrollbar-glass {
    background: radial-gradient(
        47.2% 50% at 50.39% 88.37%,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        rgba(255, 255, 255, 0.04);
    position: relative;
    transition: background 0.3s ease;
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);    
}

.Scrollbar-glass:hover{
    background: radial-gradient(
      47.2% 50% at 50.39% 88.37%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.08);
}

.Scrollbar-glass::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.48) 16.73%,
    rgba(255, 255, 255, 0.08) 30.2%,
    rgba(255, 255, 255, 0.08) 68.2%,
    rgba(255, 255, 255, 0.6) 81.89%
    );
    border-radius: inherit;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    pointer-events: none;
}

/* tipografia */
.title{
    font-size: 36px;
    font-weight: 500;
    margin-top: auto;
}

.description{
    opacity: 0.5;
}

.divider{
    margin-top: auto;
    border: none;
    height: 1px;
    mask-image: linear-gradient(to right, transparent, black, transparent);
    -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black,
    transparent
  );

}